<div class="card m-3">
    <div class="card-header bg-dark text-light">
        <h2>{{pageTitle}}</h2>
    </div>
    <div class="d-flex justify-content-center flex-column card-body">
        <h4 class="text-center">Conheça alguns de nossos produtos!</h4>

            <hr>

            <div class="d-flex flex-row justify-content-center">
                <div class="card m-2 " style="width: 18rem;">
                <img class="card-img-top w-50" src="../../assets/images/chaveDeFenda.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Precisando afrouxar alguns parafusos problemáticos? Conheça o salvador do dia!</p>
                </div>
              </div>
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/alicate.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Para cortar objtos, torcer porcas e apertar canos ou no encanamento de torneiras!</p>
                </div>
              </div>
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/pa.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Para remoção de entulos, escavação e aceleração de suas atividades!</p>
                </div>
              </div>
            </div>
            
            <hr>
    </div>
    <div class="d-flex justify-content-center p-3">Developed by Diego Santos</div>
</div>